@import "fonts";

$sandy: rgb(219,174,141);
$sandy-trans: rgba(219,174,141,0.5);

$teal: rgb(48,187,180);
$teal-trans: rgba(48,187,180,0.5);

$gray: rgb(170,172,161);
$gray-trans: rgba(170,172,161,0.5);

$white: white;
$white-trans: rgba(255,255,255,0.5);