@font-face {
    font-family: "beach";
    src: url("../Fonts/beach.woff2") format("woff2"), url("../Fonts/beach.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "beautyMountains";
    src: url("../Fonts/beautyMountains.woff2") format("woff2"), url("../Fonts/beautyMountains.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}